<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: Editorial (2014-07-09 11:54)</string>
	<string>G-r8-1GP137</string>
	<string>G-r8-1GP145</string>
</array>
</plist>
